<!DOCTYPE html>
<html>

<head>
	<title>{{title}}</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	{{#if user}}
	<div>Welcome back, {{user.first_name}}</div>
	{{/if}}

	<section>{{{body}}}</section>
</body>

</html>